<!DOCTYPE html>
<html>
<body>

<p>Click on the "Choose File" button to upload a file:</p>

<form method = "POST" action="" enctype="multipart/form-data">
  <input type="file" name="image">
  <input type="submit">
</form>

<a href="/slideshow" class="btn btn-primary">Slideshow</a>

</body>
</html>
