<p class="w3-large w3-text-theme">
  <b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
</p>
<% for(let i = 0; i<language.length; i++){%>
<p><%= language[i]["type"] %></p>
<div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-teal" style="height: 24px; width: <%= language[i]["width"] %>%"></div>
</div>
<%}%>

